.dragOver {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.5);
  border: 1em dashed white;
  display: table;
}

.dragOverContent {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 10em;
  color: white;
  line-height: 100%;
}

a {
  cursor: pointer;
}

.upload-header {
  cursor: pointer;
}

body {
  margin: 1em;
}

.uploads {
  margin-bottom: 14px;
}

.ui.progress:last-child {
  margin-bottom: 0px;
}

.finished-uploads {
  margin-bottom: 14px;
}

/*
.uploads tbody tr {
  display: flex;
}

.uploads tbody td:nth-of-type(2) {
 flex-grow: 1;
}

.uploads table {
  width: 100%;
}
*/